fastapi==0.111.0
uvicorn==0.30.1
python-multipart==0.0.9
python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4
pydantic[email]==2.7.4
python-dotenv==1.0.1
motor==3.4.0
loguru==0.7.2
python-socketio==5.11.2
aiohttp==3.9.5
requests==2.32.3
twilio==9.1.0
# AI & Audio
torch --index-url https://download.pytorch.org/whl/cpu
torchvision --index-url https://download.pytorch.org/whl/cpu
torchaudio --index-url https://download.pytorch.org/whl/cpu
openai-whisper==20250625
openai==1.30.1
librosa==0.11.0
soundfile==0.13.1
pydub==0.25.1
static-ffmpeg==3.0
ffmpeg-python==0.2.0
